<div class="container-fluid container" id="submit">
    <div class="formintro">
        <div class="logo"><img src="../../images/logo.png" /></div>
        <h1>Log in</h1>
            </div>
    <form>
        <fieldset>
            <label>Email:</label> 
            <div class="controls">
                <input type="text" name="email">
            </div>
        </fieldset>
        <fieldset>
            <label>Password:</label> 
            <div class="controls">
                <input type="text" name="password">
            </div>
        </fieldset>
         <input type="submit" value="Log In" class="btn btn-primary btn-large">

    </form>
</div>
