<header class="navbar">
    <div class="container-fluid container">
      <nav class="navbar-collapse">
          <ul class="nav navbar-nav clearfix">
            <li class="sign_up hidden-desktop hidden-tablet"><a href="#/view1" class="btn">Sign Up</a></li>
            <li class="logo"><a class="navbar-brand" href="./">Votabulary</a></li>
            <li class="log_in pull-right"><a href="#/view2" class="btn">Log In</a></li>
          </ul>
      </nav>
     </div>
</header>
<div class="intro container-fluid">
    <h1>Be a better voter</h1>
    <h4>Voting is one of the most important things we can do as citizens, but it can get lost in the shuffle of our busy lives.</h4>
    <p><a href="#" class="btn btn-primary btn-large">Sign up</a></p>
</div>
<div id="trio" class="container-fluid container">
    <div id="rowfooter" class="row">
        <div class="col-lg-11">
            <p>Votabulary is currently only available in Travis county. <a href="#">Get notified</a> when we are available in your county.</p>
        </div>
    </div>
    <div class="row">
        <div id="remember" class="col-lg-4">
            <div class="inner">
                <h4>Remember</h4>
                <p>Receive voting reminder notifications.</p>
            </div>
        </div>
        <div id="access" class="col-lg-4">
            <div class="inner">
                <h4>See</h4>
                <p>Get access to ballots for upcoming elections before the election to prepare your votes.</p>
            </div>
        </div>
        <div id="learn" class="col-lg-4">
            <div class="inner">
                <h4>Learn</h4>
                <p>Learn about candidates and propositions according to the issues you care about, so you can better vote your mind.</p>
            </div>
        </div>
    </div>
</div>



